* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Europe', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}

.container .heading {
    width: 50%;
    padding-bottom: 50px;
    padding-top: 150px;
}

.container .heading h1{
   color: #141c3a;
   font-weight: 800; 
   text-transform: uppercase;
   border-bottom: 3px solid #222;
   padding-bottom: 10px;
}

.container h2 {
    color: #141c3a;
    font-weight: 800; 
    text-transform: uppercase;
    padding-top: 225px;
    padding-bottom: 25px;
    font-size: 32px;
 }

.container .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .box .dream {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.container .box .dream img {
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}

.container .footer {
    margin-top: 50px;
    padding-bottom: 50px;
    color: #141c3a;
    font-family: 'Europe', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    border-top: 3px solid #222;
}

.container h1 {
    color: #141c3a;
    font-weight: 800; 
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 25px;
}

.container .hbday iframe {
    margin-right: 25px;
}

@media only screen and (max-width: 769px){
    .container .box{
        flex-direction: column;
    }

    .container .box .dream{
        width: 100%;
    }

    .container .hbday iframe {
        width: 600px;
        height: 315px;
        margin: 0;
    }

}

@media only screen and (max-width: 643px) {
    .container .heading{
        width: 100%;
    }   
    .container .heading h3{
        font-size: 1em;
    }
    
    .container .hbday iframe {
        width: 500px;
        height: 315px;
        margin: 0;
    }
}

@media only screen and (max-width: 500px) {
    
    .container .hbday iframe {
        width: 350px;
        height: 315px;
        margin: 0;
    }
}